<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacije o dražbi</title>
</head>
<body>
    <h1>Informacije o dražbi</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Opis</th>
                <th>Utvrđena vrijednost</th>
                <th>Početna cijena</th>
                <th>Završetak nadmetanja</th>
                <th>Iznos najviše ponude</th>
                <th>Status nadmetanja</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.opis }}</td>
                <td>{{ row.utvrdjena_vrijednost }}</td>
                <td>{{ row.pocetna_cijena }}</td>
                <td>{{ row.datum_zavrsetka_nadmetanja }}</td>
                <td>{{ row.iznos_najvise_ponude or "N/A" }}</td>
                <td>{{ row.status_nadmetanja }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
